<div class="container login-container" >
  <div class="row">
      <div class="col-md-6 login-form-1">
          <h3>Change password</h3>
          <form (submit) = "onChange(passwordForm)" #passwordForm = "ngForm">
              <div class="form-group">
                  <input type="password" name="oldpassword" #oldpasswordInput="ngModel" ngModel class="form-control" placeholder="Your Old Password *" required/>
                  <div class="alert-danger" *ngIf="invalid && oldpasswordInput.invalid"> Old password must not be empty</div>
              </div>
              <div class="form-group">
                  <input type="password" name="newpassword" #newpasswordInput="ngModel" ngModel class="form-control" placeholder="Your New Password *" required/>
                  <div class="alert-danger" *ngIf="invalid && newpasswordInput.invalid"> Password must not be empty</div>
              </div>
              <div class="form-group">
                <input type="password" name="newpassword1" #newpassword1Input="ngModel" ngModel class="form-control" placeholder="Your New Password *" required/>
                <div class="alert-danger" *ngIf="newpasswordInput.value !== newpassword1Input.value"> Passwords do not match</div>
            </div>
              <div class="alert-danger" *ngIf="invalidOld"> Old password is incorrect </div>
              <div class="form-group">
                  <input type="submit" class="btnSubmit" value="Change" />
              </div>
          </form>
      </div>
  </div>
</div>
