.signup-container{
  margin-left: 3%;
  width: auto;
  height: auto;

}
.signup-form{
  padding: 3%;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}

.signup-form h3{
  color: #333;
}

.signup-container form{
  padding: 3%;
}

.btnSubmit
{
  width: 10rem;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #fff;
  background-color: forestgreen;
}

.alert-danger {
  border-radius: 0.3rem;
  padding-left: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.form-group {
  margin-bottom:5%;
}
